<article class="beverage">
   <div class="beverage_name">
      <a href="/beverages/{{id}}">{{beverage_name}}</a>
   </div>
   <div class="beverage-details">
      {{beverage_type}}, {{favorite_count}} {{format_plural "user" favorite_count}} favorited this {{beverage_type}}!
      |
      <a href="/beverages/{{id}}">{{reviews.length}} {{format_plural "review" reviews.length}}</a>
   </div>
</article>