<article class="beverage">
   <div class="beverage-name">
      <a href="/beverage/{{id}}">{{beverage_name}}</a>
   </div>
   <div class="beverage-details">
      {{beverage_type}}, {{favorite_count}} {{format_plural "user" favorite_count}} favorited this {{beverage_type}}!
   </div>
</article>