<article class="p-10">
   <div class="rounded overflow-hidden shadow-lg">
      <!--image would go here-->
      <div class="px-6 py-4">
         <div class="beverage-name font-bold text-xl mb-2">
            <a href="/beverages/{{id}}">{{beverage_name}}</a>
         </div>
         <div class="beverage-details text-blue text-base">
            {{beverage_type}}, {{favorite_count}} {{format_plural "user" favorite_count}} favorited this {{beverage_type}}!
            |
            <a href="/beverages/{{id}}">{{reviews.length}} {{format_plural "review" reviews.length}}</a>
         </div>
      </div>
   </div>
</article>