<ol class="beverage-list">
   {{#each beverages as |beverage| }}
   <li>
      <article class="beverage">
         <div class="beverage-name">
            <a href="/beverage/{{beverage.id}}" target="_blank">{{beverage_name}}</a>
         </div>
         <div class="beverage-details">
            {{beverage_type}}, avg. user rating: {{rating_avg}}
         </div>
         <div class="ratings-count">
            {{rating_count}} users have rated this {{beverage_type}}!
         </div>
      </article>
   </li>
   {{/each}}
</ol>