<article class="beverage">
   <div class="beverage-name">
      {{beverage_name}}
   </div>
   <div class="beverage-details">
      {{beverage_type}}, avg. user rating: {{rating_avg}}
   </div>
   <div class="ratings-count">
      {{rating_count}} users have rated this {{beverage_type}}!
   </div>
</article>